@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
header {
  width: auto;
  height: 65px;
  text-align: center;
}
header .logo {
  padding-top: 15px;
  width: 150px;
}

footer {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: white;
}
footer .titre_footer {
  font-family: "Shrikhand", cursif;
  padding-left: 40px;
  padding-top: 20px;
  font-size: larger;
  margin-top: 0px;
}
footer .lien_footer {
  list-style: none;
  margin-bottom: 10px;
}
footer .footer_color {
  color: white;
}

.icon_footer {
  margin-right: 10px;
}

.fa-hands-helping {
  font-size: x-small;
}

body {
  font-family: "roboto";
}

a {
  text-decoration: none;
}

.localite_titre_explore {
  background-color: #f6f6f6;
}
.localite_titre_explore .localite {
  width: auto;
  height: 51px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.localite_titre_explore .localite_icon {
  display: flex;
  color: black;
  border: none;
  background-color: #eaeaea;
  width: 110px;
  outline: 0;
  font-size: medium;
}
.localite_titre_explore .fa-map-marker-alt {
  margin-right: 20px;
}

.titre_principal {
  text-align: center;
}
.titre_principal h1 {
  font-size: 1.9em;
}

.phrase_titre {
  text-align: center;
  font-size: larger;
  margin-bottom: 0px;
}

.btn_explore_resto_command {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 30px;
}
.btn_explore_resto_command .explore_resto {
  width: 220px;
  height: 51px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  color: white;
  box-shadow: 0px 5px 5px 6px #eaeaea;
}

.fonctionnement {
  width: auto;
  height: 441px;
}
.fonctionnement h2 {
  padding-left: 20px;
  margin-top: 50px;
}
.fonctionnement li {
  width: 90%;
  height: 75px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  box-shadow: 1px 3px 9px 1px #eaeaea;
}
.fonctionnement .chiffre_fonctionnement {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  position: relative;
  right: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon_text {
  margin-right: 40px;
}
.icon_text .icon {
  margin-right: 20px;
}
.icon_text .icon:hover {
  color: #9356DC;
}

.titre_restaurant {
  width: -webkit-fill-available;
  margin-left: 15px;
  padding-top: 30px;
}

.restaurant {
  width: auto;
  height: 1227px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.restaurant .presentation_restaurant {
  height: 250px;
  width: 90%;
  position: relative;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 3px 9px 1px #eaeaea;
}
.restaurant .img_resto {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant .nouveau {
  position: absolute;
  top: 0px;
  right: 20px;
  background-color: #99E2D0;
  width: 80px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #08e2ac;
  border-radius: 2px;
}

.coeur_icon {
  position: absolute;
  right: 30px;
  top: 195px;
  font-size: 1.9em;
}
.coeur_icon:hover {
  color: #9356DC;
}

.legende {
  margin-top: 5px;
}

.legende_titre {
  margin-bottom: 0px;
  margin-top: 10px;
}

.legende_titre_icon {
  color: black;
  padding-left: 15px;
}

body {
  margin: 0px;
}

header {
  width: auto;
  height: 65px;
  text-align: center;
  box-shadow: 1px 0px 5px 0px grey;
  position: relative;
}
header .logo {
  padding-top: 15px;
  width: 150px;
}
header .fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 25px;
  font-size: 1.3rem;
  color: black;
}

.coeur_icon_menu {
  position: absolute;
  right: 30px;
  top: 195px;
  font-size: 1.9em;
  position: absolute;
  right: 30px;
  top: 35px;
  font-size: x-large;
  opacity: 0.7;
}
.coeur_icon_menu:hover {
  color: #9356DC;
}

.photo_resto {
  width: 100%;
  height: 255px;
  object-fit: cover;
}

.menu {
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -55px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.menu .carte_menu {
  width: 100%;
  height: 70px;
  border-radius: 25px;
  display: flex;
  background-color: white;
  margin-bottom: 20px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 3px 9px 1px #eaeaea;
}
.menu .titre_menu {
  height: 50px;
  font-family: "shrikhand";
  width: 85%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.6rem;
}

.carte {
  width: 95%;
}

.carte_resto {
  margin-bottom: 30px;
}

.titre_h4 {
  width: 85%;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  opacity: 0.9;
  font-weight: normal;
}

.bordure_h4 {
  width: 40px;
  height: 10px;
  border-top: 2px solid;
  display: flex;
  align-self: flex-start;
  color: #99E2D0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.legende_menu {
  margin: 0px;
  font-weight: bold;
  padding-left: 10px;
}

.accompagnement {
  margin-top: 5px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-size: smaller;
  opacity: 0.9;
}
.accompagnement .prix_menu {
  margin-right: 30px;
}

.resto_command {
  width: 180px;
  height: 51px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  color: white;
  box-shadow: 0px 5px 5px 6px #eaeaea;
}

/*# sourceMappingURL=style.css.map */
