@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
header {
  width: auto;
  height: 65px;
  text-align: center;
}
header .logo {
  padding-top: 15px;
  width: 150px;
}

footer {
  width: auto;
  height: 200px;
  background-color: #353535;
  color: white;
}
footer .titre_footer {
  font-family: "Shrikhand", cursif;
  padding-left: 40px;
  padding-top: 20px;
  font-size: larger;
  margin-top: 0px;
}
footer .lien_footer {
  list-style: none;
  margin-bottom: 10px;
}
footer .footer_color {
  color: white;
}

.icon_footer {
  margin-right: 10px;
}

.fa-hands-helping {
  font-size: x-small;
}

body {
  font-family: "roboto";
}

a {
  text-decoration: none;
}

.localite_titre_explore {
  background-color: #f6f6f6;
}
.localite_titre_explore .localite {
  width: auto;
  height: 51px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.localite_titre_explore .localite_icon {
  display: flex;
  color: black;
  border: none;
  background-color: #eaeaea;
  width: 110px;
  outline: 0;
  font-size: medium;
}
.localite_titre_explore .fa-map-marker-alt {
  margin-right: 20px;
}

.titre_principal {
  text-align: center;
}
.titre_principal h1 {
  font-size: 1.9em;
}

.phrase_titre {
  text-align: center;
  font-size: larger;
  margin-bottom: 0px;
}

.btn_explore_resto_command {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 30px;
}
.btn_explore_resto_command .explore_resto {
  width: 220px;
  height: 51px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  color: white;
  box-shadow: 0px 5px 5px 6px #eaeaea;
}

.fonctionnement {
  width: auto;
  height: 441px;
}
.fonctionnement h2 {
  padding-left: 20px;
  margin-top: 50px;
}
.fonctionnement li {
  width: 90%;
  height: 75px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  box-shadow: 1px 3px 9px 1px #eaeaea;
}
.fonctionnement li:active {
  background-color: #F5EDFF;
}
.fonctionnement li:active .icon_color {
  color: #9356DC;
}
.fonctionnement .chiffre_fonctionnement {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon_text {
  margin-right: 20px;
}
.icon_text .icon_color {
  margin-right: 20px;
}

.titre_restaurant {
  width: -webkit-fill-available;
  margin-left: 15px;
  padding-top: 30px;
}

.restaurant {
  width: auto;
  height: 1227px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.restaurant .presentation_restaurant {
  height: 250px;
  width: 90%;
  position: relative;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 3px 9px 1px #eaeaea;
}
.restaurant .img_resto {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant .nouveau {
  position: absolute;
  top: 0px;
  right: 20px;
  background-color: #99E2D0;
  width: 80px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #08e2ac;
  border-radius: 2px;
}

.coeur_icon {
  position: absolute;
  right: 30px;
  top: 195px;
  font-size: 1.9em;
}
.coeur_icon:hover {
  color: #9356DC;
}

.legende {
  margin-top: 5px;
}

.legende_titre {
  margin-bottom: 0px;
  margin-top: 10px;
}

.legende_titre_icon {
  color: black;
  padding-left: 15px;
}

body {
  margin: 0px;
}

header {
  width: auto;
  height: 65px;
  text-align: center;
  box-shadow: 1px 0px 5px 0px grey;
  position: relative;
}
header .logo {
  padding-top: 15px;
  width: 150px;
}
header .fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 25px;
  font-size: 1.3rem;
  color: black;
}

.coeur_icon_menu {
  position: absolute;
  right: 30px;
  top: 195px;
  font-size: 1.9em;
  position: absolute;
  right: 30px;
  top: 35px;
  font-size: x-large;
  opacity: 0.7;
}
.coeur_icon_menu:hover {
  color: #9356DC;
}

.photo_resto {
  width: 100%;
  height: 255px;
  object-fit: cover;
}

.menu {
  border-radius: 40px 40px 0 0;
  position: relative;
  overflow: hidden;
  margin-top: -55px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.menu .carte_entre_plat_dessert {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .titre_menu {
  height: 50px;
  font-family: "shrikhand";
  width: 85%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.6rem;
}

.carte_menu {
  width: 100%;
  height: 70px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  background-color: white;
  margin-bottom: 20px;
  flex-direction: column;
  box-shadow: 1px 3px 9px 1px #eaeaea;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.carte_menu:active .confirmation {
  animation-name: glissage;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
.carte_menu:active .wrapIcon {
  transform: rotate(0);
}
.carte_menu:active .prix_menu {
  animation-name: glissage;
  animation-duration: 0.5s;
  margin-right: 2rem;
  animation-fill-mode: forwards;
}
.carte_menu .wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 1s;
}
.carte_menu .prix_menu {
  margin-right: 30px;
  font-weight: bold;
  height: -webkit-fill-available;
  display: flex;
  align-items: flex-end;
  margin-bottom: 13px;
  padding-left: 20px;
}

.icon {
  color: #99E2D0;
}

.confirmation {
  background-color: #99E2D0;
  position: absolute;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  height: 100%;
  right: -64px;
}

@keyframes glissage {
  100% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.carte {
  width: 95%;
}

.carte_resto {
  margin-bottom: 30px;
}

.titre_h4 {
  width: 85%;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  opacity: 0.9;
  font-weight: normal;
}

.bordure_h4 {
  width: 40px;
  height: 10px;
  border-top: 2px solid;
  display: flex;
  align-self: flex-start;
  color: #99E2D0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.legende_accompagnement {
  overflow: hidden;
  white-space: nowrap;
}

.legende_menu {
  margin: 0px;
  font-weight: bold;
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.accompagnement {
  margin-top: 5px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-size: smaller;
  opacity: 0.9;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding-right: 30px;
}
.accompagnement .prix_menu {
  margin-right: 30px;
}

.resto_command {
  width: 220px;
  height: 51px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  color: white;
  box-shadow: 0px 5px 5px 6px #eaeaea;
  width: 180px;
}
.resto_command:hover:active {
  box-shadow: 0px 5px 15px 6px #eaeaea;
}

li:hover {
  background-color: #F5EDFF;
}

.carte_menu {
  cursor: pointer;
  animation: itemAppear 1s;
  animation-timing-function: cubic-bezier(0.32, 0.28, 1, 1);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delai-0 {
  animation-delay: 0s;
}

.delai-1 {
  animation-delay: 0.5s;
}

.delai-2 {
  animation-delay: 1s;
}

.delai-3 {
  animation-delay: 1.5s;
}

.delai-4 {
  animation-delay: 2s;
}

.delai-5 {
  animation-delay: 2.5s;
}

.delai-6 {
  animation-delay: 3s;
}

.delai-7 {
  animation-delay: 3.5s;
}

.delai-8 {
  animation-delay: 4s;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #9356DC;
}
.loader__item--2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width :1024px) {
  .fonctionnement {
    height: 150px;
  }
  .fonctionnement ul {
    display: flex;
    justify-content: space-between;
  }
  .fonctionnement li {
    width: 30%;
    position: relative;
  }
  .fonctionnement li .chiffre_fonctionnement {
    left: -15px;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurant .presentation_restaurant {
    width: 45%;
  }

  .liste_footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
  }

  .photo_resto {
    height: 500px;
  }

  .menu {
    margin-bottom: 0px;
  }
  .menu .titre_menu {
    text-align-last: center;
  }
  .menu .carte_entre_plat_dessert {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
  }
  .menu .carte {
    width: 30%;
  }

  .resto_command {
    font-size: 1.5rem;
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
