@mixin header{
        width: auto;
        height: 65px;
        text-align: center;
        box-shadow: 1px 0px 5px 0px grey;
        position: relative;
        .logo
        {
            padding-top: 15px;
            width: 150px;
        }
 }
 @mixin coeur {
    position: absolute;
    right: 30px;
    top: 195px;
    font-size: 1.9em; 
    &:hover{
        color: $primary;
 }  
 }
 @mixin btn{
        width: 220px;
        height: 51px;
        background-image: linear-gradient(to top left, #9356DC,#FF79DA);  
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        color: white;
        box-shadow: 0px 5px 5px 6px $background_localite;
 }
 
 