body{
    margin: 0px
}
header{ 
@include header ;
    .fa-arrow-left{
        position: absolute;
        left: 10px;
        top: 25px;
        font-size: 1.3rem;
        color: black;
}
 }
 .coeur_icon_menu{
     @include coeur;
        position: absolute;
        right: 30px;
        top: 35px;
        font-size: x-large;
        opacity:0.7;
}
 .photo_resto{
     width: 100%;
     height: 255px;  
     object-fit: cover;
 }
 .menu{
    border-radius: 40px 40px 0 0;
    position: relative;
    overflow: hidden;
    margin-top: -55px;
    background-color:$backgroundcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px; 
    .carte_entre_plat_dessert{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
 }
    .titre_menu{
            height: 50px;
            font-family: "shrikhand";
            width: 85%;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 1.6rem;
             }
              }
    .carte_menu{
        width: 100%;
        height: 70px;
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        background-color: white;
        margin-bottom: 20px;    
        box-shadow: 1px 3px 9px 1px $background_localite;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;
        animation: itemAppear 1s;
        animation-timing-function: cubic-bezier(0.32, 0.28, 1, 1);
        animation-fill-mode: both;
        transform: scale(0);
        max-width: 100%;
         &:hover .confirmation{
                animation-name: glissement;
                animation-duration: 0.6s; 
                animation-fill-mode: forwards;
         }
         &:hover .wrapIcon{ 
            transform: rotate(0);
          }
          &:hover .prix_menu{
            animation-name: glissement;
                animation-duration: 0.5s; 
                margin-right: 2rem;
                animation-fill-mode: forwards;
          }
          .wrapIcon {
            height: 1.6rem;
            width: 1.6rem;
            background-color: white;
            display:flex;
            align-items:center;
            justify-content:center;
            border-radius: 100px;
            transform: rotate(180deg);
            transition-duration: 1s;
        }
            .prix_menu{
                margin-right: 30px;
                font-weight: bold;
                height: -webkit-fill-available;
                display: flex;
                align-items: flex-end;
                margin-bottom: 13px;
                padding-left: 20px;
            } 
      }    
          .icon {
            color: $tertiary;
          }
            .confirmation {
            background-color: $tertiary;
            position: absolute;
            width: 4rem;
            display:flex;
            align-items:center;
            justify-content:center;
            transition-duration: 0.5s; 
            height: 100%;
            right: -64px;
            overflow: hidden;
        }
.carte{
    width: 95%;}
    .carte_resto{
        margin-bottom: 30px;
    }
.titre_h4{
    width: 85%;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    opacity: 0.9;
    font-weight: normal; }
        .bordure_h4{
            width: 40px;
            height: 10px;
            border-top: 2px solid;
            display: flex;
            align-self: flex-start;
            color: $tertiary;
            margin-left: 10px;
            margin-bottom: 10px
            }
        .legende_accompagnement{
            overflow: hidden;
            white-space: nowrap;
        } 
.legende_menu{
        margin: 0px;
        font-weight: bold;
        padding-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
}
    .accompagnement{ 
        margin-top: 5px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        font-size: smaller;
        opacity: 0.9;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        padding-right: 30px;
            .prix_menu{
                margin-right: 30px;
            }
}
.resto_command{
        @include btn;
        width:180px;
        &:hover { 
        @include btn_shadow;
        opacity: 0.8;
         }
}

@media #{$responsive_min_1024}{
    .photo_resto{
        height: 500px;
    }
    .menu{
        margin-bottom: 0px;
        .titre_menu{
            text-align-last: center;
        }
        .carte_entre_plat_dessert{
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-direction: row;
            align-items: flex-start;
        }
         .carte{
        width: 30%;
        }
     }
         .resto_command{
            
             font-size: 1.5rem;
             width: 300px;
         }
}



