body{
    margin: 0px
}
header{ 
@include header ;
.fa-arrow-left{
    position: absolute;
    left: 10px;
    top: 25px;
    font-size: 1.3rem;
    color: black;
}
 }
 .coeur_icon_menu{
     @include coeur;
        position: absolute;
        right: 30px;
        top: 35px;
        font-size: xx-large;
     }
 
 .photo_resto{
     width: 100%;
     height: 255px;  
 }
 .menu{
    border-radius: 40px;
    position: relative;
    top: -55px;
    background-color:$backgroundcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    .carte_menu{
        width: 90%;
        height: 70px;
        border-radius: 25px;
        display: flex;
        background-color: white;
        margin-bottom: 20px;
        justify-content: center;
        flex-direction: column;
         }
        .titre_menu{
            height: 50px;
            font-family: "shrikhand";
            width: 85%;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 1.6rem;
             }
            .titre_h4{
                width: 85%;
                margin-left: 0px;
                margin-top: 0px;
    }
        }
 
.legende_menu{
        margin: 0px;
        font-weight: bold;
        font-size: 1.1rem;
        padding-left: 10px;
}
    .accompagnement{ 
        margin-top: 5px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        .prix_menu{
            margin-right: 30px;
        }
}
    



