footer{
    width: auto;
    height: 200px;
    background-color: rgb(53, 53, 53);
    color: white;
    .titre_footer{
    font-family :'Shrikhand', cursif ;
    padding-left: 40px;
    padding-top: 20px;
    font-size: larger;
    margin-top: 0px;
}
    .lien_footer{
        list-style: none;
        margin-bottom: 10px;
    
    }
    .footer_color{
        color: white;
    }

}
.icon_footer{
    margin-right: 10px;
 }
.fa-hands-helping{
    font-size: x-small;
}
@media #{$responsive_min_1024}{
    .liste_footer{
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
    }
}
