footer{
    width: auto;
    height: 200px;
    background-color: rgb(53, 53, 53);
    color: white;
    
    .lien_footer{
        list-style: none;
    } 

}
.titre_footer{
    font-family :'Shrikhand', cursif ;
}